# ==================================================
# STYVEEN LABS
# ==================================================


# ----------------------
# FRONTEND
# ----------------------

frontend/node_modules/
frontend/dist/
frontend/.vite/

frontend/.env
frontend/.env.local
frontend/.env.production


# ----------------------
# BACKEND
# ----------------------

backend/.venv/
backend/venv/

backend/__pycache__/
backend/**/__pycache__/

*.py[cod]
*$py.class

backend/.env

backend/media/


# ----------------------
# DATABASE
# ----------------------

backend/db.sqlite3


# ----------------------
# PYTHON
# ----------------------

.pytest_cache/
.mypy_cache/


# ----------------------
# IDE
# ----------------------

.vscode/
.idea/


# ----------------------
# WINDOWS / MAC
# ----------------------

Thumbs.db
desktop.ini
.DS_Store


# ----------------------
# LOGS
# ----------------------

*.log


# ----------------------
# ENVIRONMENT
# ----------------------

.env
.env.*

!.env.example